<tr>
	<td align="right">
		&nbsp;

		<div class="mp-tbody-td" data-cell-name="track"><%= track %></div>
	</td>

	<td>
		&nbsp;

		<div class="mp-tbody-td" data-cell-name="title"><%= title %></div>
	</td>

	<td>
		&nbsp;

		<div class="mp-tbody-td" data-cell-name="artist"><%= artist %></div>
	</td>

	<td>
		&nbsp;

		<div class="mp-tbody-td" data-cell-name="album"><%= album %></div>
	</td>

	<td align="right">
		&nbsp;

		<div class="mp-tbody-td" data-cell-name="duration"><%= duration %></div>
	</td>
</tr>
