<tr>
	<td align="right">
		&nbsp;

		<div class="mp-tbody-td"><%= track %></div>
	</td>

	<td>
		&nbsp;

		<div class="mp-tbody-td"><%= title %></div>
	</td>

	<td>
		&nbsp;

		<div class="mp-tbody-td"><%= artist %></div>
	</td>

	<td>
		&nbsp;

		<div class="mp-tbody-td"><%= album %></div>
	</td>

	<td align="right">
		&nbsp;

		<div class="mp-tbody-td"><%= duration %></div>
	</td>
</tr>
